/**
  Copyright(c) - 2019 Ashish's Web
  Author: K.C.Ashish Kumar
  https://kcak11.com (or) https://ashishkumarkc.com
*/

/** WARNING **/
/**
	Modifying this file can lead to ** unintended consequences **.
	
	Most of the styling for the rulers can be controlled via
	the configuration supplied to the createRulers / updateRulers
	in the ruler.js file.
	
	Please refer to the documentation there for insights as to how
	the various styles can be defined / controlled.
*/

.ruler {
	position: absolute;
	top: 30px;
	left: 30px;
	box-sizing: border-box;
}

.rulerBG {
	position: absolute;
}

.ruler.top {
	border-bottom: 1px solid #000;
}

.ruler.top.guideEnabled {
	cursor: col-resize;
}

.ruler.left {
	border-right: 1px solid #000;
}

.ruler.left.guideEnabled {
	cursor: row-resize;
}

.ruler.top .big, .ruler.top .medium, .ruler.top .small {
	position: absolute;
	width: 10px;
	border-left: 1px solid #000;
	box-sizing: border-box;
	pointer-events: none;
}

.ruler.left .big, .ruler.left .medium, .ruler.left .small {
	position: absolute;
	height: 10px;
	border-top: 1px solid #000;
	box-sizing: border-box;
	pointer-events: none;
}

.ruler.top .big {
	top: -20px;
	height: 20px;
}

.ruler.top .medium {
	top: -10px;
	height: 10px;
}

.ruler.top .small {
	top: -5px;
	height: 5px;
}

.ruler.left .big {
	left: -20px;
	width: 20px;
}

.ruler.left .medium {
	left: -10px;
	width: 10px;
}

.ruler.left .small {
	left: -5px;
	width: 5px;
}

.ruler.top .big:before {
	content: attr(unit-value);
	font-size: 8px;
	font-family: Verdana;
	position: absolute;
	top: -3px;
	left: 2px;
	text-align: left;
}

.ruler.left .big:before {
	content: attr(unit-value);
	font-size: 8px;
	font-family: Verdana;
	position: absolute;
	right: 8px;
	bottom: 2px;
	text-align: left;
	transform-origin: 0 0;
	transform: rotate(-90deg);
	width: 15px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}